.button {
  padding: 6px 24px;
  width: fit-content;
  height: 36px;
  border-radius: 12px;
  cursor: pointer;
  button {
    all: unset;
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-weight: 600;
  }
}

.normal {
  background-color: var(--violet);
  button {
    color: var(--white);
  }
}
.simple {
  background-color: transparent;
  button {
    color: var(--black);
  }
}
